/* Nueva paleta de colores */
:root {
  --steel-pink: #c345d0ff;
  --green-blue: #1365adff;
  --white: #ffffffff;
  --polynesian-blue: #0c4f9eff;
  --air-superiority-blue: #62a2d0ff;
  --night: #1E1E1E;
  --title-background: var(--steel-pink); /* Fondo de color para los títulos */
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.landing-header {
  position: relative;
  height: 100vh; /* Hacemos que el encabezado ocupe toda la altura de la ventana */
  display: flex;
  justify-content: flex-start; /* Alinea los elementos al principio del eje principal (izquierda) */
  align-items: center; /* Centra verticalmente los elementos */
}

.background-overlay {
  background-image: url(tech.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right; 
  position: relative;
  width: 100%; /* Cambia el tamaño del fondo para que ocupe toda la altura y el ancho del encabezado */
  height: 100%;
  color: #fff;
}

.navbar {
  position: absolute;
  top: 20px; /* Ajusta la posición vertical según sea necesario */
  right: 20px; /* Mueve el navbar a la esquina superior derecha */
  z-index: 1000; /* Asegurarse de que el navbar esté por encima de otros elementos */
}

.titles {
  background-color: var(--title-background); /* Aplicamos el fondo de color */
  padding: 20px; /* Ajusta el espaciado según sea necesario */
  border-radius: 10px; /* Opcional: para bordes redondeados */
  bottom: 50%;
  color: #fcfcfc;
  left: 100px;
  position: absolute;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-li {
  display: inline;
  margin-right: 20px;
}

.nav-anchor, .social-media a {
  color: #fff;
  text-decoration: none;
}

.content-section {
  margin-bottom: 40px;
  padding: 5% 5%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos específicos */
.social-media {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Color de texto */
  text-align: center;
}

.social-media li, .contact-social-media {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-media li {
  margin-right: 20px;
}

.contact-social-media a {
  text-decoration: none;
}

.contact-social-media a i {
  margin-left: 5px;
}

/* Estilos para tablas */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

/* Estilos específicos para la tabla de habilidades */
#habilidades table {
  margin-top: 20px;
}
