/* Nueva paleta de colores */
:root {
  --steel-pink: #c345d0ff;
  --green-blue: rgb(19, 168, 173);
  --white-break: #f7f7f7;
  --polynesian-blue: #0c4f9eff;
  --air-superiority-blue: #62a2d0ff;
  --night: #1E1E1E;
}

/* Cabeceras */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* Estilos */

body {
  background-color: var(--white-break);
  font-family: Arial, sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

section {
  padding: 10% 5%;
  margin: 100px 0px;
}

/* Header */
.background-overlay {
  background-image: url(media/svg/bg-waves.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}

.landing-header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Estilos para los títulos */
.titles {
  background-image: url(media/svg/shape.svg);
  height: 400px;
  width: 600px;
  padding: 10px;
  bottom: 300px;
  color: #fff;
  left: 100px; /* Ajuste de posición a la izquierda */
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  text-align: center; /* Centrar horizontalmente */
  display: flex; /* Usar flexbox */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  flex-direction: column; /* Apilar elementos en columna */

}

.titles h1 {
  margin-bottom: 20px; /* Ajuste de margen superior */
  font-weight: 800;
}

.titles h2 {
  font-weight: 600;
}

.svg-container {
  position: relative;
  width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
  height: 100%; /* Ajusta la altura al 100% del contenedor padre */
  overflow: hidden; /* Oculta el desbordamiento de los SVG */
}
.svg-container img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  transition: transform 1s ease; /* Transición suave de 1 segundo */
}

/* Estilos para la primera imagen dentro de svg-container */
.svg-container > img:first-child {
  z-index: 1;
  transform: translateY(0); /* Animación inicial */
}

/* Estilos para la última imagen dentro de svg-container */
.svg-container > img:last-child {
  z-index: 0;
  transform: translateX(0); /* Animación inicial */
}

/* Agregar animación a los polígonos */
@keyframes moveUp {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* Agregar animación a las pantallas */
@keyframes moveRight {
  0% { transform: translateX(0); }
  50% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

/* Aplicar animación a los polígonos */
.svg-item:first-child img {
  animation: moveUp 5s infinite alternate; /* Animación de los polígonos */
}

/* Aplicar animación a las pantallas */
.svg-item:last-child img {
  animation: moveRight 5s infinite alternate; /* Animación de las pantallas */
}

/* Estilo del navbar */
.navbar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-weight: bold; /* Hacer la fuente más resaltante */
}

/* Estilo de los elementos del navbar */
.nav-li {
  display: inline;
  margin-right: 30px; /* Aumentar el espacio entre los enlaces */
}

.nav-li a {
  position: relative; /* Establecer posición relativa para el enlace */
  text-decoration: none; /* Quitar el subrayado predeterminado */
  font-size: 18px; /* Aumentar el tamaño del texto */
  font-weight: bold; /* Hacer el texto más grueso */
  color: #fff; /* Establecer el color del texto como blanco */
  transition: color 0.3s ease; /* Transición suave del color */
}

.nav-li a::after {
  content: ''; /* Agregar contenido para el pseudo-elemento */
  position: absolute; /* Establecer posición absoluta */
  left: 0;
  bottom: -3px; /* Posicionar la línea debajo del texto */
  width: 100%;
  height: 2px; /* Grosor de la línea */
  background-color: transparent; /* Color inicial de la línea */
  transition: background-color 0.3s ease; /* Transición suave del color */
}

.nav-li a:hover::after {
  background-color: var(--green-blue); /* Cambiar el color de la línea al color definido en la paleta */
}

/*  */
.card {
  border: none; /* Eliminar el borde del card */
  border-radius: 10px; /* Añadir bordes redondeados al card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregar una sombra suave al card */
  padding: 5%;
}

.card-header{
  display: flex;
  justify-content: start;
  align-items: center;
  border: none; 
  background-color: #fff;
}
.card-header h3 {
  font-size: 5rem; /* Tamaño del título */
  font-weight: 800;
}

.detalles h4 {
  margin: 20px 0;
  font-weight: 600;
}

.detalles ul {
  list-style-type: none; /* Eliminar viñetas */
  padding-left: 0; /* Eliminar el espacio a la izquierda de las listas */
}

.detalles ul li {
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
}
/*  */

#habilidades {
  background-color: #e0e0e0; /* Fondo alternativo para la sección "Habilidades" */
}

#proyectos {
  background-color: #d0d0d0; /* Fondo alternativo para la sección "Proyectos" */
}

#contacto {
  background-color: #c0c0c0; /* Fondo alternativo para la sección "Contacto" */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav ul, .social-media, .contact-social-media {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-anchor, .social-media a, .contact-social-media a {
  color: #fff;
  text-decoration: none;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
