/* Nueva paleta de colores */
:root {
  --steel-pink: #c345d0ff;
  --green-blue: #1365adff;
  --white-break: #f0f0f0;
  --polynesian-blue: #0c4f9eff;
  --air-superiority-blue: #62a2d0ff;
  --night: #1E1E1E;
  --title-background: var(--steel-pink); /* Fondo de color para los títulos */
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white-break);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.landing-header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.background-overlay {
  background-image: url(media/svg/bg-waves.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
}

.navbar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* Estilos para los títulos */
/* Estilos para los títulos */
.titles {
  background-image: url(media/svg/shape.svg);
  height: 400px;
  width: 600px;
  padding: 10px;
  bottom: 300px;
  color: #fcfcfc;
  left: 100px; /* Ajuste de posición a la izquierda */
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  text-align: center; /* Centrar horizontalmente */
  display: flex; /* Usar flexbox */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  flex-direction: column; /* Apilar elementos en columna */

}

.titles h1 {
  margin-bottom: 20px; /* Ajuste de margen superior */
  font-weight: 800;
}

.titles h2 {
  font-weight: 600;
}


/* Estilo del navbar */
.navbar {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  font-weight: bold; /* Hacer la fuente más resaltante */
}

/* Estilo de los elementos del navbar */
.nav-li {
  display: inline;
  margin-right: 30px; /* Aumentar el espacio entre los enlaces */
}

.nav-li a {
  position: relative; /* Establecer posición relativa para el enlace */
  text-decoration: none; /* Quitar el subrayado predeterminado */
  font-size: 18px; /* Aumentar el tamaño del texto */
  font-weight: bold; /* Hacer el texto más grueso */
  color: #fff; /* Establecer el color del texto como blanco */
  transition: color 0.3s ease; /* Transición suave del color */
}

.nav-li a::after {
  content: ''; /* Agregar contenido para el pseudo-elemento */
  position: absolute; /* Establecer posición absoluta */
  left: 0;
  bottom: -3px; /* Posicionar la línea debajo del texto */
  width: 100%;
  height: 2px; /* Grosor de la línea */
  background-color: transparent; /* Color inicial de la línea */
  transition: background-color 0.3s ease; /* Transición suave del color */
}

.nav-li a:hover::after {
  background-color: var(--steel-pink); /* Cambiar el color de la línea al color definido en la paleta */
}

nav ul, .social-media, .contact-social-media {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-anchor, .social-media a, .contact-social-media a {
  color: #fff;
  text-decoration: none;
}

.content-section {
  margin-bottom: 40px;
  padding: 5% 5%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Estilos para tablas */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

/* Estilos específicos para la tabla de habilidades */
.skills {
  margin-top: 20px;
}
.svg-container {
  position: relative;
  width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
  height: 100%; /* Ajusta la altura al 100% del contenedor padre */
  overflow: hidden; /* Oculta el desbordamiento de los SVG */
}
.svg-container img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  transition: transform 1s ease; /* Transición suave de 1 segundo */
}

/* Estilos para la primera imagen dentro de svg-container */
.svg-container > img:first-child {
  z-index: 1;
  transform: translateY(0); /* Animación inicial */
}

/* Estilos para la última imagen dentro de svg-container */
.svg-container > img:last-child {
  z-index: 0;
  transform: translateX(0); /* Animación inicial */
}

/* Agregar animación a los polígonos */
@keyframes moveUp {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* Agregar animación a las pantallas */
@keyframes moveRight {
  0% { transform: translateX(0); }
  50% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

/* Aplicar animación a los polígonos */
.svg-item:first-child img {
  animation: moveUp 5s infinite alternate; /* Animación de los polígonos */
}

/* Aplicar animación a las pantallas */
.svg-item:last-child img {
  animation: moveRight 5s infinite alternate; /* Animación de las pantallas */
}